:root {
   --fgcolor: var(--fg-color);
   --bgcolor: var(--bg-color);
   --titleColor: var(--dark);
   --blinkColor: var(--text-color);
   --subtitleColor: rgb(4, 8, 46/ 0.7);
   /* type speed */
   --typewriterSpeed: 2s;
   --typewriterSpeedTwo: 2s;
   --typewriterSpeedThree: 3s;
   --typewriterSpeedFour: 1s;
   /* characters */
   --typewriterCharacters: 26;
   --typewriterCharactersTwo: 16;
   --typewriterCharactersThree: 29;
   --typewriterCharactersFour: 17;
   --typewriterCharactersFive: 14;
   --typewriterCharactersSix: 20;
}

.type {
   font-size: clamp(1rem, 3vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type::before,
.type::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type::before {
   background: var(--fg-color);
   animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 0.5s forwards;
}

.type::after {
   width: 0.125em;
   background: var(--text-color);
   animation: typewriter var(--typewriterSpeed)
         steps(var(--typewriterCharacters)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
}

/* type two */

.type-two {
   font-size: clamp(1rem, 3vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-two::before,
.type-two::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-two::before {
   background: var(--fg-color);
   animation: typewriter var(--typewriterSpeedTwo)
      steps(var(--typewriterCharactersTwo)) 0.5s forwards;
}

.type-two::after {
   width: 0.125em;
   background: var(--text-color);
   animation: typewriter var(--typewriterSpeedTwo)
         steps(var(--typewriterCharactersTwo)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersTwo)) infinite;
}

/* type3 */

.type-three {
   font-size: clamp(1rem, 2vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-three::before,
.type-three::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-three::before {
   background: var(--fg-color);
   animation: typewriter var(--typewriterSpeedThree)
      steps(var(--typewriterCharactersThree)) 0.5s forwards;
}

.type-three::after {
   width: 0.125em;
   background: var(--text-color);
   animation: typewriter var(--typewriterSpeedThree)
         steps(var(--typewriterCharactersThree)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersThree)) infinite;
}

/* type4 */

.type-four {
   font-size: clamp(1rem, 2vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-four::before,
.type-four::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-four::before {
   background: var(--bg-color);
   animation: typewriter var(--typewriterSpeedFour)
      steps(var(--typewriterCharactersFour)) 0.5s forwards;
}

.type-four::after {
   width: 0.125em;
   background: var(--text-color);
   animation: typewriter var(--typewriterSpeedFour)
         steps(var(--typewriterCharactersFour)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersFour)) infinite;
}

/* type5 */

.type-five {
   font-size: clamp(1rem, 2vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-five::before,
.type-five::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-five::before {
   background: var(--bg-color);
   animation: typewriter var(--typewriterSpeedFour)
      steps(var(--typewriterCharactersFive)) 0.5s forwards;
}

.type-five::after {
   width: 0.125em;
   background: var(--text-color);
   animation: typewriter var(--typewriterSpeedFour)
         steps(var(--typewriterCharactersFive)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersFive)) infinite;
}

/* type6 */

.type-six {
   font-size: clamp(1rem, 2vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-six::before,
.type-six::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-six::before {
   background: var(--bg-color);
   animation: typewriter var(--typewriterSpeedFour)
      steps(var(--typewriterCharactersSix)) 0.5s forwards;
}

.type-six::after {
   width: 0.125em;
   background: var(--text-color);
   animation: typewriter var(--typewriterSpeedFour)
         steps(var(--typewriterCharactersSix)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersSix)) infinite;
}

/* subtitle */

.subtitle {
   margin: 20px;
   color: var(--text-color);
   font-size: 1.25rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
   max-width: 80ch;
}
.subtitle-two {
   margin: 20px;
   color: var(--text-color);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1.5s) forwards;
}

.subtitle-three {
   margin: 20px;
   color: var(--text-color);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 1s) forwards;
}
.subtitle-four {
   margin: 20px;
   color: var(--turq);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 2s) forwards;
}
.subtitle-five {
   margin: 20px;
   color: var(--dark);
   font-size: 1.5rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}
.subtitle-six {
   margin: 20px;
   color: var(--dark);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2.5s) forwards;
}
.subtitle-seven {
   margin: 20px;
   color: var(--dark);
   font-size: 1.25rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
}
.subtitle-eight {
   margin: 20px;
   color: var(--dark);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 3.5s) forwards;
}

@keyframes typewriter {
   to {
      left: 100%;
   }
}

@keyframes blink {
   to {
      background: transparent;
   }
}

@keyframes fadeInUp {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@media (max-width: 750px) {
   :root {
      --typewriterSpeed: 0s;
      --typewriterSpeedTwo: 0s;
      --typewriterSpeedThree: 0s;
      --typewriterSpeedFour: 0s;
      --typewriterCharacters: 0;
      --typewriterCharactersTwo: 0;
      --typewriterCharactersThree: 0;
      --typewriterCharactersFour: 0;
      --typewriterCharactersFive: 0;
      --typewriterCharactersSix: 0;
   }

   .type::before {
      background: var(--no-color);
   }
   .type::after {
      background-color: var(--no-color);
   }

   .type-two::before {
      background: var(--no-color);
   }
   .type-two::after {
      background-color: var(--no-color);
   }

   .type-three::before {
      background: var(--no-color);
   }
   .type-three::after {
      background-color: var(--no-color);
   }

   .type-four::before {
      background: var(--no-color);
   }
   .type-four::after {
      background-color: var(--no-color);
   }

   .type-five::before {
      background: var(--no-color);
   }
   .type-five::after {
      background-color: var(--no-color);
   }

   .type-six::before {
      background: var(--no-color);
   }
   .type-six::after {
      background-color: var(--no-color);
   }

   .type {
      font-size: 1.5rem;
      width: 100%;
   }

   .type-two {
      font-size: 1.5rem;
      width: 100%;
   }
   .type-three {
      font-size: 1.5rem;
      width: 100%;
   }
}

@media (prefers-reduce-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
   :root {
      --fgcolor: var(--no-color);
      --bgcolor: var(--no-color);
      --titleColor: var(--dark);
      --blinkColor: var(--no-color);
      --subtitleColor: var(--subtitleColor);
      --typewriterSpeed: 0s;
      --typewriterSpeedTwo: 0s;
      --typewriterSpeedThree: 0s;
      --typewriterSpeedFour: 0s;
      --typewriterCharacters: 0;
      --typewriterCharactersTwo: 0;
      --typewriterCharactersThree: 0;
      --typewriterCharactersFour: 0;
      --typewriterCharactersFive: 0;
      --typewriterCharactersSix: 0;
   }
}
