:root {
   --fgcolor: var(--fg-color);
   --titleColor: black;
   --blinkColor: black;
   --subtitleColor: rgb(4, 8, 46/ 0.7);
   --typewriterSpeed: 2s;
   --typewriterCharacters: 26;
   --typewriterSpeedTwo: 2s;
   --typewriterCharactersTwo: 16;
   --typewriterSpeedThree: 3s;
   --typewriterCharactersThree: 29;
}

.type {
   font-size: clamp(1rem, 3vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type::before,
.type::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type::before {
   background: var(--fgcolor);
   animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 0.5s forwards;
}

.type::after {
   width: 0.125em;
   background: var(--blinkColor);
   animation: typewriter var(--typewriterSpeed)
         steps(var(--typewriterCharacters)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
}

/* type two */

.type-two {
   font-size: clamp(1rem, 3vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-two::before,
.type-two::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-two::before {
   background: var(--fgcolor);
   animation: typewriter var(--typewriterSpeedTwo)
      steps(var(--typewriterCharactersTwo)) 0.5s forwards;
}

.type-two::after {
   width: 0.125em;
   background: var(--blinkColor);
   animation: typewriter var(--typewriterSpeedTwo)
         steps(var(--typewriterCharactersTwo)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersTwo)) infinite;
}

/* type3 */

.type-three {
   font-size: clamp(1rem, 2vw + 1rem, 4rem);
   position: relative;
   font-family: "Source Code Pro", monospace;
   width: max-content;
   margin-left: 10px;
}

.type-three::before,
.type-three::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.type-three::before {
   background: var(--fgcolor);
   animation: typewriter var(--typewriterSpeedThree)
      steps(var(--typewriterCharactersThree)) 0.5s forwards;
}

.type-three::after {
   width: 0.125em;
   background: var(--blinkColor);
   animation: typewriter var(--typewriterSpeedThree)
         steps(var(--typewriterCharactersThree)) 0.5s forwards,
      blink 750ms steps(var(--typewriterCharactersThree)) infinite;
}

/* subtitle */

.subtitle {
   margin: 20px;
   color: var(--subtitleColor);
   font-size: 1.25rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 1s) forwards;
}
.subtitle-two {
   margin: 20px;
   color: var(--subtitleColor);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
}

.subtitle-three {
   margin: 20px;
   color: var(--subtitleColor);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 1s) forwards;
}
.subtitle-four {
   margin: 20px;
   color: var(--turq);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 2s) forwards;
}
.subtitle-five {
   margin: 20px;
   color: var(--dark);
   font-size: 1.5rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 4s) forwards;
}
.subtitle-six {
   margin: 20px;
   color: var(--dark);
   font-size: 1rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 4.5s) forwards;
}
.subtitle-seven {
   margin: 20px;
   color: var(--dark);
   font-size: 1.25rem;
   font-weight: 400;
   opacity: 0;
   transform: translateY(3rem);
   animation: fadeInUp 2s ease calc(var(--typewriterSpeedThree) + 5s) forwards;
}

@keyframes typewriter {
   to {
      left: 100%;
   }
}

@keyframes blink {
   to {
      background: transparent;
   }
}

@keyframes fadeInUp {
   to {
      opacity: 1;
      transform: translateY(0);
   }
}

@media (max-width: 750px) {
   :root {
      --fgcolor: rgba(255, 255, 255, 0);
      --titleColor: black;
      --blinkColor: rgba(0, 0, 0, 0);
      --subtitleColor: rgb(4, 8, 46/ 0.7);
      --typewriterSpeed: 0s;
      --typewriterCharacters: 0;
      --typewriterSpeedTwo: 0s;
      --typewriterCharactersTwo: 0;
      --typewriterSpeedThree: 0s;
      --typewriterCharactersThree: 0;
   }
}

@media (prefers-reduce-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
   :root {
      --fgcolor: rgba(255, 255, 255, 0);
      --titleColor: black;
      --blinkColor: rgba(0, 0, 0, 0);
      --subtitleColor: rgb(4, 8, 46/ 0.7);
      --typewriterSpeed: 0s;
      --typewriterCharacters: 0;
      --typewriterSpeedTwo: 0s;
      --typewriterCharactersTwo: 0;
      --typewriterSpeedThree: 0s;
      --typewriterCharactersThree: 0;
   }
}
