:root {
   --turq: rgb(86, 190, 180);
   --gold-light: rgb(255, 220, 160);
   --gold-dark: rgb(243, 202, 132);
   --light: rgb(206, 231, 235);
   --medium: rgb(68, 118, 149);
   --medium1: rgba(100, 147, 179, 0.5);
   --dark: rgb(8, 14, 71);
   --fg-color: rgb(255, 255, 255);
   --bg-color: var(--light);
   --header-bg: rgb(255, 255, 255);
   --box-shade: rgb(165, 165, 165);
   --border-line: rgb(209, 209, 209) solid 1px;
   --no-color: rgba(0, 0, 0, 0);
   --line: radial-gradient(
      circle,
      rgb(161, 217, 228) 0%,
      rgba(192, 230, 237, 1) 30%,
      rgba(192, 230, 237, 0) 100%
   );
   --warning: rgb(224, 9, 9);
   --mono-text: "Source Code Pro", monospace;
   --helv-text: Helvetica, Arial, sans-serif;
   --text-color: rgb(0, 0, 0);
   --in-text-color: rgb(255, 255, 255);

   --scroll-grade: linear-gradient(#ffffff 33%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), #ffffff 66%) 0 100%,
      radial-gradient(farthest-side at 50% 0, var(--medium1), rgba(0, 0, 0, 0)),
      radial-gradient(
            farthest-side at 50% 100%,
            var(--medium1),
            rgba(0, 0, 0, 0)
         )
         0 100%;
}

[data-theme="dark"] {
   --bg-color: rgb(0, 0, 0);
   --text-color: rgb(255, 255, 255);
   --fg-color: rgb(29, 29, 29);
   --header-bg: var(--fg-color);
   --box-shade: rgb(32, 32, 32);
   --border-line: rgb(68, 68, 68) solid 1px;
   --gold-light: rgb(238, 180, 79);
   --gold-dark: rgb(235, 159, 28);
   --dark: rgb(206, 231, 235);
   --light: rgb(8, 14, 71);
   --warning: rgb(184, 10, 10);
   --scroll-grade: linear-gradient(#181818 33%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), #181818 66%) 0 100%,
      radial-gradient(farthest-side at 50% 0, var(--medium1), rgba(0, 0, 0, 0)),
      radial-gradient(
            farthest-side at 50% 100%,
            var(--medium1),
            rgba(0, 0, 0, 0)
         )
         0 100%;

   --in-text-color: rgb(0, 0, 0);
}

* {
   padding: 0px;
   margin: 0px;
   color: var(--text-color);
}

.App {
   text-align: center;
   background-color: var(--bg-color);
   padding: 0px;
   padding: 60px 0px 12px 0px;
   margin: 0px;
   min-height: 92vh;
   width: 100vw;
}

footer {
   position: fixed;
   /* height: 15px; */
   /* width: 100vw; */
   bottom: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* background-color: var(--light); */
}
.App-header {
   font-family: Helvetica, Arial, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--dark);
}

.basic {
   background-color: var(--fg-color);
   border-radius: 10px;
   box-shadow: 0px 1px 10px var(--box-shade);
   padding: 20px;
   margin: 10px;
   width: 80vw;
}

.text-area {
   width: 90%;
   resize: vertical;
   /* max-width: 120ch; */
}

.button {
   padding: 10px;
   width: 110px;
   background-color: var(--gold-light);
   border-radius: 5px;
   color: var(--medium);
   border: var(--turq);
   box-shadow: 0px 0px 5px var(--box-shade);
   margin: 10px;
}

.button:hover {
   background-color: var(--gold-dark);
}

.sm-button {
   padding: 10px;
   background-color: var(--gold-light);
   border-radius: 5px;
   color: var(--medium);
   border: var(--turq);
   box-shadow: 0px 0px 3px var(--box-shade);
   margin: 10px;
}

.sm-button:hover {
   background-color: var(--gold-dark);
}
.btn {
   text-decoration: none;
   padding: 7px;
   border-radius: 5px;
   background-color: var(--turq);
   box-shadow: 0px 0px 3px varvar(--box-shade);
   margin: 3px;
   color: var(--in-text-color);
   font-family: var(--mono-text);
   font-size: small;
}
.f {
   padding-right: 12px;
}

.btn:hover {
   background-color: var(--medium);
}
.delete {
   background-color: var(--warning);
   border: 0;
}
.delete:hover {
   background-color: var(--dark);
}
.edit {
   border: 0px;
}
.btn-div {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: stretch;
}

.btn2 {
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   background-color: var(--turq);
   box-shadow: 0px 0px 5px var(--box-shade);
   margin: 10px;
   color: var(--in-text-color);
   border: 0px;
   font-size: medium;
}
.btn2:hover {
   background-color: var(--medium);
}

.btn3 {
   text-decoration: none;
   padding: 11px;
   border-radius: 5px;
   background-color: var(--medium);
   box-shadow: 0px 0px 5px var(--medium);
   margin: 5px;
   /* margin-bottom: px; */
   color: var(--in-text-color);
   border: 0px;
}
.btn3:hover {
   background-color: var(--dark);
}

.center {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.margin {
   margin: 15px;
}

.page {
   margin: 5px;
   padding: 0px 5% 0px 5%;
   text-indent: 7%;
   line-height: 1.5;
   text-align: justify;
   text-justify: inter-word;
   max-width: 90ch;
}

.line {
   margin: 10px;
   height: 2px;
   width: 100%;
   background: var(--line);
   z-index: 1;
}
.sm-text {
   font-family: "Source Code Pro", monospace;
   color: var(--medium);
   font-size: small;
}
.page-num {
   display: flex;
   align-items: baseline;
   margin: 5px 5px 5px 5%;
   font-family: "Source Code Pro", monospace;
}

.ptext {
   font-family: "Source Code Pro", monospace;
   display: flex;
   align-items: baseline;
   margin-left: 10%;
   margin-top: 5px;
   color: var(--medium);
   font-size: larger;
}
.pbody {
   display: flex;
   align-items: baseline;
   line-height: 1.25;
   text-align: justify;
   text-justify: inter-word;
   margin: -21px 10% 10px 10%;
   text-indent: 90px;
   max-width: 70ch;
   min-height: 25px;
}
.spacing {
   width: 100%;
   max-width: 70ch;
}

.tag-parent {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
   align-content: stretch;
   margin: 5px 10% 0px 10%;
   max-width: 70ch;
}

.warning {
   color: var(--warning);
   font-family: var(--mono-text);
}
.clean {
   color: var(--turq);
   font-family: var(--mono-text);
}

.prompt {
   white-space: pre-line;
   text-align: left;
   margin: 5px;
   /* padding: 20px 5% 20px 5%; */
   text-indent: 7%;
}

.page-body {
   height: 350px;
   overflow: auto;
   white-space: pre-line;
   text-align: left;
   margin: 0% 5% 0% 5%;
   max-width: 90ch;
}

.scroll {
   background: var(--scroll-grade);
   background-color: var(--fg-color);
   background-repeat: no-repeat;
   background-attachment: local, local, scroll, scroll;
   background-size: 100% 27px, 100% 27px, 100% 9px, 100% 9px;
}

/*Header */

.nav-title {
   margin-left: 20px;
   color: var(--medium);
   font-size: xx-large;
   font-family: "Source Code Pro", monospace;
}

.navbar {
   height: 55px;
   width: 100vw;
   position: fixed;
   top: 0px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   background-color: var(--fg-color);
   border: var(--border-line);
   box-shadow: 0px 0px 7px var(--box-shade);
   z-index: 1;
}

.nav-links {
   display: flex;
   margin-right: 70px;
}

.link {
   font-size: large;
   margin: 10px;
   padding: 5px;
   border-radius: 5px;
   width: auto;
   text-decoration: none;
   color: var(--dark);
}

.user-links {
   margin-right: 30px;
}

.link:hover {
   background-color: var(--light);
   box-shadow: 0px 0px 5px var(--box-shade);
}
.login-link {
   text-decoration: none;
   color: var(--medium);
   background-color: var(--gold-light);
   height: 20px;
   margin: 3px;
   padding: 7px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px var(--box-shade);
}

.new-button {
   text-decoration: none;
   background-color: var(--gold-light);
   color: var(--medium);
   width: 50px;
   height: 20px;
   margin: 2px;
   padding: 7px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px var(--box-shade);
}

.login-link:hover {
   background-color: var(--gold-dark);
}
.new-button:hover {
   background-color: var(--gold-dark);
}

.menu-button {
   display: none;
   background-color: var(--gold-light);
   color: var(--turq);
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-end;
   align-items: center;
   align-content: center;
   margin: 5px;
   margin-right: 20px;
   padding: 5px;
   padding-left: 15px;
   height: 30px;
   border-radius: 5px;
   box-shadow: 0px 0px 3px var(--box-shade);
   border: 0px;
}

.btn-link {
   display: none;
}
.dropdown {
   display: none;
}

.menu-button:hover {
   background-color: var(--gold-light);
}
.burger {
   margin: 5px;
}

.patty {
   height: 2px;
   width: 15px;
   background-color: var(--medium);
   margin: 3px;
}

.menu {
   color: var(--medium);
}

/* Authentication */

.register {
   padding: 10px;
   width: 110px;
   background-color: var(--gold-light);
   border-radius: 5px;
   color: var(--medium);
   border: var(--turq);
   box-shadow: 0px 0px 5px var(--box-shade);
}

.register:hover {
   background-color: var(--gold-dark);
}

.auth-box {
   width: 600px;
   background-color: var(--fg-color);
   color: var(--turq);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px var(--box-shade);
   margin: 15px;
}

.auth-inner {
   padding: 10px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   align-content: center;
}

.auth-inputs {
   margin: 5px;
}

.auth-button {
   margin: 5px;
   padding: 7px;
   border-radius: 5px;
   border: var(--border-line);
   box-shadow: 0px 1px 5px var(--box-shade);
}

.auth-button:hover {
   background-color: var(--medium1);
}

.color-light-blue {
   color: var(--light);
}

.user-title {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   align-content: stretch;
}
.title {
   color: var(--dark);
   margin: 0.5em;
   font-family: "Source Code Pro", monospace;
}
.turq-title {
   color: var(--turq);
   padding-bottom: 5px;
   margin: 5px;
}

.sub {
   margin-bottom: 15px;
   font-family: var(--mono-text);
}

.home-link {
   text-decoration: none;
   color: var(--medium);
}

@media (max-width: 1000px) {
   .nav-title {
      font-size: large;
   }

   .nav-links {
      margin-right: 20px;
   }
}
@media (max-width: 785px) {
   .nav-links {
      display: none;
   }
   .navbar {
      height: 50px;
   }

   .user-links {
      display: none;
   }
   .menu-button {
      display: flex;
      position: relative;
   }
   .menu {
      pointer-events: none;
   }
   .auth-box {
      width: 80vw;
   }
   .btn-link {
      display: flex;
      padding: 10px;
      text-decoration: none;
      color: var(--dark);
      font-family: "Source Code Pro", monospace;
      background: var(--gold-light);
      width: 100vw;
      text-align: center;
      margin: auto;
   }
   .btn-link:hover {
      background-color: var(--gold-dark);
   }
   .drop {
      position: absolute;
      left: 0px;
      top: 50px;
      width: 100vw;
      /* display: none; */
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      opacity: 0;
      /* pointer-events: none; */
      transform: translateY(-10px);
      transition: all 0.5s ease;
   }

   .dropdown button:focus + .drop {
      display: flex;
      opacity: 1;
      /* pointer-events: all; */
      transform: translateY(0);
      /* transition: all 0.5s ease; */
   }
   .dropdown {
      display: flex;
      flex-direction: column;
   }
   .type-three {
      width: 100%;
      word-wrap: break-word;
   }
}
